.head{
    width: 100%;
    height: auto;
    background-color: #292929;
    padding: 1rem;
  }        
  .head .nav-link{
    color: white;
    
  }
  .head .nav-item{
    margin-left: 2rem;
  }

  .head .nav-item button{
    border: 2px solid #FF785D;;
    outline: none;
    background-color: #292929;
  
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: white;
    transition: 0.5s;
  }
  .head .nav-item button:hover{
    border: 2px solid #FF785D;
    
    background-color: #FF785D;
   
    
    color: white;
  }


  .foot{
    width: 100%;
    height: auto;
    background-color: #1A1A1A;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
  }
  .foot h5{
    padding-left: 3px ;
    text-transform: uppercase;
  }
  .foot a{
    color: white;
    font-size: 18px;
    text-decoration: none;
  }
  .foot a:hover{
    color: #bd6d5d;
    
  }

  .foot .style1 {

border-top: 1px solid #FF785D;
margin-top: 1px;
width: 50%;
margin-left: 0px;
}

.last{
width: 100%;
height: auto;
background-color: #0D0E0E;
padding: .6rem;
}
.last a{
font-size: 1rem;
color: white;
text-decoration: none;
}
.blog-main{
width: 100%;
height: auto;
padding-top: 3rem;
}
.blog-main .blog-nav{
width: 100%;
height: auto;
background-color: #f8f8ff ;
padding: .2rem 0 .2rem 2rem;
}
.blog-main .blog-nav p{
color:grey;
}
.blog-author{
width: 100%;
height: auto;
}
.blog-author .card img{
border:.09rem solid #FF785D;
width: 3.5rem;
height: 3.5rem;
border-radius: 50%;
margin-right: .8rem;
}
.blog-author .flex {
display: flex;
flex-wrap: nowrap;


}
.blog-author .card{
border: none;

}
.blog-author .card h5{
color: #292929;
margin-top: 5px;
}
.blog-author .card p{
color: #292929;
margin-top: -5px;
}
.blog-cont{
width: 100%;
height: auto;
}
.blog-cont .side .card{
border: none;
background-color: #f8f8ff;
width: 100%;
height: auto;
margin-bottom: 2rem;
}
.blog-cont .side .card h4{
color: #292929;
font-weight: 400;
padding-left: 10px;
}
.blog-cont .side .card .style1 {

border-top: 2px solid #FF785D;
margin-top: 1px;
width: 100%;
margin-left: 0px;
}
.blog-cont .side .card a {
color: #292929;
padding-left: 10px;
text-decoration: none;
font-size: 1.1rem;
margin-top: 1rem;
margin-bottom: 1rem;
}
.blog-related{
width: 100%;
height: auto;
margin-top: 2rem;
margin-bottom: 3rem;
}
.blog-related .style1 {

border-top: 2px solid #FF785D;
margin-top: 1px;
width: 100%;
margin-left: 0px;
}
.blog-related h4{
color: #292929;
font-weight: 600;
padding-left: 10px;
}
.head{
    width: 100%;
    height: auto;
    background-color: #292929;
    padding: 1rem;
  }        
  .head .nav-link{
    color: white;
    
  }
  .head .nav-item{
    margin-left: 2rem;
  }

  .head .nav-item button{
    border: 2px solid #FF785D;;
    outline: none;
    background-color: #292929;
  
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: white;
    transition: 0.5s;
  }
  .head .nav-item button:hover{
    border: 2px solid #FF785D;
    
    background-color: #FF785D;
   
    
    color: white;
  }


  .foot{
    width: 100%;
    height: auto;
    background-color: #1A1A1A;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
  }
  .foot h5{
    padding-left: 3px ;
    text-transform: uppercase;
  }
  .foot a{
    color: white;
    font-size: 18px;
    text-decoration: none;
  }
  .foot a:hover{
    color: #bd6d5d;
    
  }

  .foot .style1 {

border-top: 1px solid #FF785D;
margin-top: 1px;
width: 50%;
margin-left: 0px;
}

.last{
width: 100%;
height: auto;
background-color: #0D0E0E;
padding: .6rem;
}
.last a{
font-size: 1rem;
color: white;
text-decoration: none;
}
.blog-main{
width: 100%;
height: auto;
padding-top: 3rem;
}
.blog-main .blog-nav{
width: 100%;
height: auto;
background-color: #f8f8ff ;
padding: .2rem 0 .2rem 2rem;
}
.blog-main .blog-nav p{
color:grey;
}
.blog-author{
width: 100%;
height: auto;
}
.blog-author .card img{
border:.09rem solid #FF785D;
width: 3.5rem;
height: 3.5rem;
border-radius: 50%;
margin-right: .8rem;
}
.blog-author .flex {
display: flex;
flex-wrap: nowrap;


}
.blog-author .card{
border: none;

}
.blog-author .card h5{
color: #292929;
margin-top: 5px;
}
.blog-author .card p{
color: #292929;
margin-top: -5px;
}
.blog-cont{
width: 100%;
height: auto;
}
.blog-cont .side .card{
border: none;
background-color: #f8f8ff;
width: 100%;
height: auto;
margin-bottom: 2rem;
}
.blog-cont .side .card h4{
color: #292929;
font-weight: 400;
padding-left: 10px;
}
.blog-cont .side .card .style1 {

border-top: 2px solid #FF785D;
margin-top: 1px;
width: 100%;
margin-left: 0px;
}
.blog-cont .side .card a {
color: #292929;
padding-left: 10px;
text-decoration: none;
font-size: 1.1rem;
margin-top: 1rem;
margin-bottom: 1rem;
}
.blog-related{
width: 100%;
height: auto;
margin-top: 2rem;
margin-bottom: 3rem;
}
.blog-related .style1 {

border-top: 2px solid #FF785D;
margin-top: 1px;
width: 100%;
margin-left: 0px;
}
.blog-related h4{
color: #292929;
font-weight: 600;
padding-left: 10px;
}
.head{
    width: 100%;
    height: auto;
    background-color: #f8f8ff;
    padding: 1rem;
  }        
  .head .nav-link{
    color: black;
  }
  .head .nav-item{
    margin-left: 2rem;
  }

  .head .nav-item button{
    border: 2px solid #292929;;
    outline: none;
    background-color: #292929;
  
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    color: white;
    transition: 0.5s;
  }
  .head .nav-item button:hover{
    border: 2px solid #292929;
    
    background-color: transparent;
   
    
    color: #292929;
  }


  .foot{
    width: 100%;
    height: auto;
    background-color: #1A1A1A;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
  }
  .foot h5{
    padding-left: 3px ;
    text-transform: uppercase;
  }
  .foot a{
    color: white;
    font-size: 18px;
    text-decoration: none;
  }
  .foot a:hover{
    color: #bd6d5d;
    
  }

  .foot .style1 {

border-top: 1px solid #FF785D;
margin-top: 1px;
width: 50%;
margin-left: 0px;
}

.last{
width: 100%;
height: auto;
background-color: #0D0E0E;
padding: .6rem;
}
.last a{
font-size: 1rem;
color: white;
text-decoration: none;
}


.top-main{
width: 100%;
height: auto;
background-color: #f8f8ff;
padding-top: 4rem;
padding-bottom: 4rem;
}
.top-main h1{
font-size: 3rem;
color: #292929;
}
.top-main button{
border: 2px solid #292929;;
outline: none;
width: 13rem;
font-size: 1.5rem;
background-color:#292929 ;
color: white;
font-weight: lighter;
border-radius: 5px;
padding-top: .5rem;
transition: 0.5s;
}
.top-main button:hover{
    border: 2px solid #292929;
    
    background-color: transparent;
   
    
    color: #292929;
  }
.top-main .style1 {

border-top: 1px solid #FF785D;
margin-top: 1px;
width: 25%;
margin-left:2.9rem;

}


.service-main{
width: 100%;
height: auto;
background-color: white;
padding-top: 3rem;
padding-bottom: 3rem;
}


.service-main .flex {
display: flex;
flex-wrap: wrap;
margin: 0px auto;

}

.service-main .card{
width: 100%;
border: none;
border-radius: 4px;
background-color: #f8f8ff;
z-index: +1;

}
.service-main h5{
font-weight: bolder;
color: #292929;
}
.service-main p{

color: #292929;
}
.service-main button{
background-color: #292929 ;
color: white;
outline: none;
border: 2px solid #292929;;
font-weight: lighter;
padding-top: .3rem;
padding-bottom: .3rem;
font-size: 13px;
transition: 0.5s;
}
.service-main button:hover{
    border: 2px solid #292929;
    
    background-color: transparent;
   
    
    color: #292929;
  }


.pro{
width: 100%;
height: auto;
background-color: white;
padding-top: 3rem;
padding-bottom: 3rem;
}
.pro .flex {
display: flex;
flex-wrap: wrap;
margin: 0px auto;

}
.pro .card{
width: 100%;
border: none;
border-radius: 4px;
background-color: #f8f8ff;


}
.pro .card h6{
font-weight: bolder;
color: #292929 ;
text-align: center;
}
.pro .card p{

color: #292929 ;
text-align: center;
}


.thou{
width: 100%;
height: auto;
background-color: #f8f8ff;
padding-top: 3rem;
padding-bottom: 3rem;
}

.thou h1{
width: 100%;
font-size: 4rem;
color: #292929 ;
font-weight: bolder;
}
.thou-inner{
width: 100%;
height: auto;
background-color: #FF785D;
padding-top: 2rem;
}
.thou .thou-inner .flex {
display: flex;
flex-wrap: nowrap;
margin: 0px auto;

}
.thou .thou-inner p {
color: white;
font-size: 1.1rem;
margin-bottom: 3rem;

}
.thou .thou-bottom img{
margin-bottom: 4rem;
width: 4rem;
height: 4rem;
border-radius: 50%;
}
.thou .thou-bottom h5{
margin-top: .4rem;
font-weight: bolder;
color:#292929 ;
}